@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Index";
    var session = HttpContextAccessor.HttpContext.Session;
}

@model IEnumerable<Book>

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>
}

<table width="100%" border="1">
    <thead>
        <tr>
            <th>Título</th>
            <th>ISBN</th>
            <th>Ano</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
        <tr>
            <td>@book.Title</td>
            <td>@book.ISBN</td>
            <td>@book.Year</td>
        </tr>
        }
    </tbody>
</table>